.sidePanel-container{
    position: fixed;
    left: 0;
    /* border: 1px solid red; */
    width: 320px;
    height: 100vh;
    display: grid;
}
.inner-panel{
    border: 8px solid green;
    width: 75px;
    height: 100vh;
    position: absolute;
    /* grid-area: 1 / col4-start / last-line / 6; */
    grid-column: 1 / 2;

}
/* .ant-menu-title-content{
  margin-left: 30px !important;
} */
.second-inner-panel{
    border: 1px solid blue;
    position: relative;
    margin-left: 75px;
    width: 245px;

}
  .sidePanelTab .ant-tabs-left > .ant-tabs-nav{
    width: 190px;
    height: 80vh;
  }
  .sidePanelTab .ant-tabs-tab-active{
    border: 1px solid #1890ff;
  }
  .sidePanelTab {
    width: 210px;
    height: 410px;
    height: 60vh;
    overflow-x: hidden;
    border-bottom: 1px solid rgb(72 72 72 / 48%);
  }
  .heading{
      text-align: left;
      font-size: 25px;
  }
  /* .ant-col-offset-5 {
    margin-left: 20.83333333%;
  } */
  .sidePanelTab slider{
    width: 50px !important;
  }
  section.ant-layout.ant-layout-has-sider.site-layout {
    background: #323439;
  }
  /* .sidePanel .ant-layout{
    background: #323439 !important;
  } */

  .sidePanelTab aside{
    width: 30px !important;
  }
  aside.ant-layout-sider.ant-layout-sider-dark.ant-layout-sider-collapsed.ant-layout-sider-has-trigger {
    flex: 0 0 60px !important;
    max-width: 60px !important;
    min-width: 60px !important;
    width: 60px !important;
    /* background: #111 !important; */
    background: #1b1a21 !important;
    /* background: #f3f2f1 !important; */
  }
  .ant-layout-sider-collapsed .ant-layout-sider-trigger{
    width: 60px !important;
    /* border-top: 1px solid lightgrey; */
  }
  .ant-layout-sider-dark, .ant-menu.ant-menu-dark, .ant-layout-sider-trigger{
    /* background: #111 !important; */
    background: #1b1a21 !important;
  }
  .sideNavLogo{
    box-sizing: border-box;
    width: 100%;
    max-width: 280px;
    margin-top: 30px;
    /* margin-bottom: 20px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    border-radius: 16px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 5px 8px;
    padding: 3px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px; */
    /* border: 1px solid green; */

    border: 1px solid #e6f7ff33 !important;

  }
  .sideNavLogo h3{
    margin: 0px;
    color: #fff;
    font-weight: bolder;
  }
  ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light {
    background: #323439;
    color: #fff;
  }
  ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light a{
    color: #fff;
  }
  li.ant-menu-item.ant-menu-item-selected .ant-menu-title-content a{
    color: #111;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a{
    color: #1890ff !important;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none !important;
}
.site-layout{
  background: #323439;
}
.panelTabsHide{
  display: none;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #e6f7ff33;
}
.logoutBtn:hover{
  background-color: #ff4d4f !important;
  cursor: pointer;
}
.site-layout-background{
  height: 70vh;
}
.sidePanelTab li.ant-menu-item{
  border: 1px solid rgb(72 72 72 / 90%);
  border-radius: 8px;
}