.tasklist {
    padding-left: 30px;
    padding-right: 30px;
    background: #fff;
    width: 100%;
    /* min-width: 1000px; */
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;
    /* overflow-x: visible !important; */
    border: 1px solid lightgrey;
    border-radius: 10px;
    min-width: 1050px;
}

li.ant-list-item.list-item {
    /* border-top: 1px solid #cbd4db; */
    box-sizing: border-box;
    height: 42px;
    overflow: hidden;
    background: #f0f2f5;
    background-color: #f5f6f8;
    border-left: 5px solid #1890ff; 
    border-bottom: 3px solid #fff;
    /* margin-right: 15px; */
}
li.ant-list-item.list-item:hover{
    background-color:#fff;
    cursor: pointer;
}
.task-tag{
    text-align: center;
    display: flex;
    font-size: 13px;
    font-weight: 600;
    /* background: #f4f4f4; */
}
.task-subitems{
    font-size: 12px;
}
.ant-tag{
    border: none;
    text-align: center;
    background: transparent;
}
.task-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  
}
.task-tag{
    width: 310px;
    /* border: 1px solid red; */
    overflow: hidden;
    font-size: 12px;
}
.task-wrap{
    text-align: left;
    margin-right: 20px;
    margin-right: 5px;
    width: 240px;
    display: flex;
    justify-content: space-between;
    
}
.ant-col-14 {
    /* width: 100vw; */
    /* max-width: 1400px; */
    /* max-width: 1800px; */
    width: 100%;
    max-width: 3000px;
    flex: 1;
    /* margin-bottom: 15px; */
}
.ant-list-pagination{
    /* width: 34vw;
    max-width: 1000px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 15px;
}
 .ant-list-split .ant-list-item {
    border-bottom: none;
}
.ant-tabs-top > .ant-tabs-nav, .ant-tabs-bottom > .ant-tabs-nav {
    margin: 0 0 30px 0;
}
.btnToggle{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}
.ant-spin-nested-loading{
    width: 100%;
}
.playBtn{
    width: 50px;
}
.popup .popuptext {
    visibility: hidden;
    width: 50px;
    background-color: #b1b1b1;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    position:relative;
}
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
.task-description{
    min-height: 120px;
    width: 100%;
    position: relative;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
    display: flex;
    align-items: flex-start;
    /* border: 1px solid red; */
}
.task-description .ant-card-head{
    background: #f0f2f5;
    /* background: #fef68a;
    border-bottom: 2px solid lightgrey; */
}
.singleCard{
    background: #fff;
    border: 1px solid lightgrey;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px;
    border-radius: 10px;
}
.singleCard:hover:hover{
    border: 1px solid blue;
}
.completed-task-card{
    background: #fff;
}
.tabButton{
    padding: 20px;
    background-color: blue;
    position: relative;
    right: -650px;
}
.ant-list-item{
    padding: 0px;
}

.btnwrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    padding: 10px;
}
