@import '~antd/dist/antd.css';
.ant-menu-vertical .ant-menu-item {
  margin-top: 0px !important;
}
.ant-menu-inline .ant-menu-item{
  margin-top: 0px !important;
}
.App {
    text-align: center;
    /* height: 100vh; */
    color: #61dafb;
    margin: 0px;
    /* overflow-y: hidden; */
}
.App .main-content{
  overflow-x: hidden;
}
  body{
    margin: 0px;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-link {
    color: #61dafb;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);

      filter: invert(72%) sepia(51%) saturate(6847%) hue-rotate(321deg) brightness(100%) contrast(80%);
      filter: invert(44%) sepia(65%) saturate(360%) hue-rotate(153deg) brightness(95%) contrast(94%);
      filter: invert(62%) sepia(91%) saturate(754%) hue-rotate(196deg) brightness(93%) contrast(92%);
      filter: invert(100%) sepia(52%) saturate(313%) hue-rotate(33deg) brightness(100%) contrast(95%)
    }
    to {
      transform: rotate(360deg);

      filter: invert(100%) sepia(52%) saturate(313%) hue-rotate(33deg) brightness(100%) contrast(95%);
      filter: invert(62%) sepia(91%) saturate(754%) hue-rotate(196deg) brightness(93%) contrast(92%);
      filter: invert(44%) sepia(65%) saturate(360%) hue-rotate(153deg) brightness(95%) contrast(94%);
      filter: invert(72%) sepia(51%) saturate(6847%) hue-rotate(321deg) brightness(100%) contrast(80%);
    }
  }
  /* Nav */
  .TitleBox{
    box-sizing: border-box;
    width: 17%;
    max-width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    display: flex;
    border-radius: 16px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 5px 8px;
    padding: 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px;
    border: 1px solid green;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  .TitleBox h3{
    /* border: 1px solid red; */
    margin: 0px;
    /* color: #fff !important; */
  }
  .title-logo {
    height: 8vmin;
    max-height: 60px;
  }
  header{
    display: flex;
    margin: auto;
    /* background: rgba(255, 255, 255, 0.2); */
    /* background: #002140; */
    height: 80px; 
    background: #1b1a21;
    /* background: transparent; */
  }
  .header-container{
    display: flex;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  div[role='menu']{
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
  }
  div[role='menu'] {
    visibility: hidden;
  }
  div[role='menu'].visible {
    visibility: visible;
    width: 98%;
    border-radius: 8px;
    z-index: 9000;
    position: relative;
}
  .drop-down{
    box-sizing: border-box;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    /* background: rgba(255, 255, 255, 0.2);
    background: #f4f4f4; */
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px; */
    /* border: 1px solid red; */
    color: #111;
  }
  .inner-nav{
      color: #111;
  }
 
  .drop-down a{
      color: #111;
      /* color: #fff !important; */
  }
  .drop-down {
    margin-right: 0px;
  }
  .drop-down .inner-nav{
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    color: #111;
    border: 1px solid #111;
  }
  .nav-itema:hover{
    background-color:rgba(0, 0, 0, .3);
    color: #111;
    /* color: #fff !important; */
  }
  nav{
    display: flex;
    font-size: 16px;
  }
  nav .nav-auth{
    padding-left: 30px;
    padding-right: 15px;
  }

.BreadCrumb .BreadCrumb-wave{
  height: 23px;
}
.BreadCrumb .BreadCrumb-wave .wave.-two{
  position: fixed;
  top: -685px;
  width: 6400px;
  height: 100.2%;
}

/* Auth form */
.auth-container .banner{
  position: absolute;
  top: 0px;
  height: 150px;
  width: 100%;
  background: #1b1a21;
}
.form-wrapper{
    /* border: 1px solid red; */
    height: 100vh;
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.form-wrapper h1{
  padding-top: 80px;
}
.form-wrapper form {
    width: 90%;
    margin: auto;
    border: 1px solid red;
}
.form-container{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.form-container form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: -2px 6px 10px 0 rgb(0 0 0 / 20%);
  background-color: #f8f9fa !important;
  color: #111;
}
.form-container .submitBtn{
  background: transparent;
  color: #fff;
  border: none;
  font-weight: bold;

}
label{
  text-align: left;
  margin-top: 8px;
  font-weight: bold;
}
.auth-container form input{
  height: 35px;
  border: 1px solid lightgrey;
}
.button-submit{
  margin-top: 15px;
  cursor: pointer;
}
.button-submit input{
  cursor: pointer;
}
/* Landing page */
.landing-background{
  background-image: url("/src/landing-background.svg"),url("/src/wave2.svg");
  background-position: bottom 10% right,top 25% left;
}
.bannerLogo{
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 5px;
  border-radius: 8px;
}
.logo-container{
  /* border: 1px solid red; */
  height: 60px;
  display: flex;
  align-items: center;
}
.hero .bg-wave {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
}
.hero {
  align-items: center;
  background: #1b1a21;
  color: #fff;
  display: flex;
  font-family: Lato,sans-serif;
  justify-content: center;
  /* margin-top: -80px; */
  margin-top: -30px;
  overflow: hidden;
  padding: 0 40px;
  position: relative;
  text-align: center;
  width: 100%;
  height: 95vh;
  max-height: 700px;
}

.hero .content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  /* height: 90%; */
  margin-top: 90px;
  margin-top: 15px;
  /* border:5px solid red; */
  z-index: 2;
  max-width: 1250px;
}
.ctaBtn, .demoBtn{
  transition: ease-in-out 5s all;
}
.ctaBtn:hover, .demoBtn:hover{
  transform: scaleX(1.1);
  /* transition: all ease-in-out 5s; */
}
.left h1, .right h1{
  color: #fff;
}
.left h1{
  font-weight: bolder;
  font-size: 50px;
  /* text-transform: uppercase; */
  text-align: left;
  margin: 0px;
}
.hero .left{
  width: 50%;
}
.left .content-inner{
  /* border:1px solid green; */
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left .content-inner .text{
  /* font-weight: bold;
  font-size: 16px; */
  text-align: left;
  width: 65%;
  margin-top: 20px;
}

.icon-container{
  /* border: 1px solid red; */
  padding: 20px;
}

/* Main workspace */
.workspace-textfield{
  border: none;
  resize: none;
  color: #111;
  font-size: 20px;
  font-weight: bolder;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 63.5%;
  /* border: 1px solid red; */
}
.menu-banner{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1275px;
  margin: auto;
  width: 100%;
  /* border: 1px solid lightgrey;  */
}
.add-task-btn-main.js{
  margin-right: 50px !important;
}
.workspace-textfield h3{
  text-align: left;
  margin-bottom: 0px;
}
.right .content-inner{
  /* background-image: url("/src/landingSmall.png"); */
  background-image: url("/src/workspace.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 230px;
  width: 450px;
  z-index: 5;
  z-index: 9000;
  border: 1px solid #fff;
  border: 3px solid #2CEEF0;
  border-radius: 20px;
  margin-bottom: 20px;
}
.bannerLogo{
  width: 50px;
}
.logo-container{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}
.showHide{
  display: none;
}
.show{
  position: absolute;
  top: 0px;
}

.bannerCta{
  text-align: center;
}
[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #f0f2f5;
  border: 1px solid grey;
  border-radius: 2px;
  width: 100%;
  float: right;
  margin-left: auto;
}
.standup-container {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.standup-section{
  margin-top: 15px;
  margin-bottom: 30px;
  overflow: hidden;
}
#projects .ant-col.ant-col-14.ant-col-offset-5, #projects .ant-col-offset-5 {
  /* margin-left: -0% !important;
  margin-top: 0% !important; */
} 
#projects .dummy-side-panel{
  display: none;
}
/* #projects #note .note-container{
  margin-left: 0px !important;
} */

#projects .ant-layout-content{
  padding: 0px !important;
  background-color: #fff !important;
}
#projects .tasklist{
  transform: scale(0.45);
  margin: auto;
  position: absolute;
  top: -80px; left: -265px; bottom: 0; right: 0;
}
#projects{
  position: relative;
  cursor: pointer;
  
}
#projects .trackList{
  background: #f3f2f1 !important;
  padding: 0px !important;
}
#projects .tasklist{
  padding-bottom: 0px !important;
}
#projects .ant-picker-calendar-mini{
  transform: scale(0.8);
  position: relative;
  top: -25px;
}
#projects:hover, #calender:hover, #announcements:hover{
  /* background-color: lightgrey;
  background-blend-mode: darken; */
  cursor: pointer;
  /* transition: all ease-in-out 0.3s;
  transform: scale(1.02); */
}
#projects{
  overflow: visible !important;
}
#projects .notes-container{
  /* padding-top: 0px;
  transform: scale(0.2);
  position: relative;
  top: 50px;
  margin-left: 0px !important;
  transform: scale(0.6);
  position: relative;
  top: -570px;
  left: -60px;
  width: 630px; */

  transform: scale(0.6);
  /* margin: auto; */
  position: absolute;
  top: -80px; left: -100px; bottom: 0; right: 0;
}
#projects .note-container{
  margin-left: 0% !important;
  margin-right: 0% !important;
}
#projects .notes-list{
  display: flex;
  flex-wrap: wrap;
}
#projects .display-box-title {
  position: absolute;
  top: 0px;
  left: 15px;
}
#projects .inner{
  z-index: 0;
}
#homeContent:hover{
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  border: 2px solid blue !important;
}

#calender .site-calendar-demo-card {
  width: 100%;
  height: 150px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
#calender{
  flex: 0.8;
}
#announcements{
  flex: 0.6;
}



/* // Pomodorro */
.pomodoro .timer{
  color: #fff !important;
}
.pomodoro .ant-collapse-header{
  color: #fff !important;
}
.hideTimer{
  display: none;
}

/* Notes  */
.notes-container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 35px;
}

.notes-list{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new{
  background-color: #67d7cc;
}
.note.new textarea{
  border: none;
  resize: none;
  background-color: #67d7cc;
}
.note.new textarea:focus{
  outline: none;
}
.note.new TextArea:focus{
  outline: none;
}

.note.new .save {
  background: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px 5px 10px;
}
.save:hover{
  background-color: #ededed;
  cursor: pointer;
}
.note {
  background-color: #fef68a;
  color: #111;
  /* margin-bottom: 10px; */
  border-radius: 10px;
  padding: 1.2rem;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 250px;
  overflow: hidden;
}
.note:hover{
  background-color: #67d7cc;
}
.note-footer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.note-footer .delete-icon{
  /* background-color: red; */
  background-color: #ff4d4f;
  color: #fff;
  border-radius: 30px;
}
.note-footer .delete-icon:hover{
  transform: rotate(360deg);
}
.singleNoteContainer{
  margin-left: 20.83333333%;
  margin-right: auto;
  /* border: 1px solid red; */
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px;
}
.singleNoteContainer .singleNote{
  background-color: #fef68a;
  min-height: 100%;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* border: 1px solid red; */
  display: none;
  background-color: #282c34;
  color: #111;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.singleNoteContainer .singleNote textarea{
  text-align: center;
  padding: 10px;
  background-color: #282c34;
  color: #fff;
  border: none;
  resize: none;
}
.singleNoteContainer .singleNote textarea:focus{
  outline: none;
}
.singleNote .note-footer small{
  color: #fff;
}
.note.new Input::placeholder{
  color:rgba(0, 0, 0, .3);
}
.note.new  TextArea::placeholder{
  color:rgba(0, 0, 0, .3);
}

.note.new Input{
  border: none;
}

/* Pmodoro timer container */
.timer-container{
  /* border: 1px solid red; */
  /* position: relative;
  top: 25px;
  left: 55px; */
  width: 270px;
  /* margin-right: 50px; */
  position: relative;
  top: -20px;
}
.timer-display{
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
}
.show-hide-timer{
  border: 1px solid orange;
}
.timer-display .left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* flex: 1; */
  
}
.timer-display .left h3{
  padding-right: 15px;
}
.timer-display .right{
  display: flex;
  justify-content: space-between;
  flex: 0.07;
}
.show-hide-timer{
  /* visibility: hidden; */
  border: 1px solid red;
  /* opacity: 0; */
  border: 1px solid transparent;
  color: #111;
  /* z-index: 20; */
}
.show-hide-timer .inner-timer{
  text-align: left;
  padding: 8px;
  margin-right: 100px;
  background: #f5f6f8;
  background-color: #3e3e3e;
  color: #fff;
  width: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.timer-display .time-display{
  color: #fff;
}
.show-hide-timer .footer{
  /* border-top: 1px solid red;
  border-top: 1px solid #111;
  height: 0px;
  margin: 20px; */
  /* border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px; */
}
.layout .ant-col-offset-5{
  margin: 0px !important;
}
.trackList{
  display: grid;
  grid-template-columns: 150px auto;
  /* border-top: 1px solid red; */
  padding: 10px;
  max-width: 1200px;
  margin: auto;
  /* display: flex;
  justify-content: space-between; */
}
.trackList .layout{
  margin: auto;
}
.dummy-side-panel{
  width: 100px;
}

.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner{
  z-index: 0;
}
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner{
  z-index: 0 !important;
}
.searchfield .ant-input-group{
  padding: 8px;
  border: 1px solid lightgrey;
  border-radius: 8px;
  background-color: #fff;
}
.searchfield .ant-input-group .ant-input-affix-wrapper{
  border: none;
}
#menu-banner .tasklist{
  height: 80px;
}
.standup-section{
  margin-top: 0px;
  margin-bottom: 10px;
}
#trackList .tasklist{
  margin-top: 0px;
}
.tasklist:hover{
  border: 1px solid blue;
  cursor: pointer;
}

/* standup component */
.contentEditableDiv{
  float: left;
}
.item{
  color: #3d3d3d;
}
.delete{
  color: red;
  cursor: pointer;
}
.card{
  position: relative;
  border-radius: .25rem;
  /* box-shadow: 0 0 5px 2px rgba(100 100 100 / 30%); */
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
  
}
.site-card-border-less-wrapper .ant-card{
  transform-style: preserve-3d;
  transition: 150ms;
  cursor: pointer;
  transform: perspective(1000px) rotateY(var(--rotate-y, 0))
  translateY(var(--translate-y, 0));
  background-color: yellow;
  background-color: #f5f6f8;
  /* background-color: yellow;
  min-width: 350; */
  min-height: 220;
  box-shadow: 0 0 5px 3px rgba(100 100 100 / 30%);
}
/* .standup-section .site-card-border-less-wrapper .ant-card{
  
} */
.card .front{
  left: 0;
}
.card .front,
.card .back{
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}
.card .back{
  transform: rotateY(180deg);
}
.card.flip {
  --rotate-y: 180deg;
}
.card .ant-card-body{
  padding: 0px;
}

.ant-breadcrumb{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* standup component */
.front .remove-task-button{
  height: 25px;
  padding: 1px 8px;
  font-size: 12px;
  margin-left: 3px;
  margin-right: 0px;
}

.ant-card-body{
  padding: 15px;
}
