@import '~antd/dist/antd.css';
.ant-menu-vertical .ant-menu-item {
  margin-top: 0px !important;
}
.ant-menu-inline .ant-menu-item{
  margin-top: 0px !important;
}
.App {
    text-align: center;
    height: 100vh;
    color: #61dafb;
    margin: 0px;
    overflow-x: hidden;
  }
  body{
    margin: 0px;
  }
  .App-logo {
    height: 40vmin;
    pointer-events: none;
    /* background-color: #ff0000; */
    /* filter: invert(16%) sepia(90%) saturate(7500%) hue-rotate(0deg) brightness(96%) contrast(103%); */
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
      /* animation: App-logo-color infinite 20s linear; */
    }
  }
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .App-link {
    color: #61dafb;
  }
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);

      filter: invert(72%) sepia(51%) saturate(6847%) hue-rotate(321deg) brightness(100%) contrast(80%);
      filter: invert(44%) sepia(65%) saturate(360%) hue-rotate(153deg) brightness(95%) contrast(94%);
      filter: invert(62%) sepia(91%) saturate(754%) hue-rotate(196deg) brightness(93%) contrast(92%);
      filter: invert(100%) sepia(52%) saturate(313%) hue-rotate(33deg) brightness(100%) contrast(95%)
    }
    to {
      transform: rotate(360deg);

      filter: invert(100%) sepia(52%) saturate(313%) hue-rotate(33deg) brightness(100%) contrast(95%);
      filter: invert(62%) sepia(91%) saturate(754%) hue-rotate(196deg) brightness(93%) contrast(92%);
      filter: invert(44%) sepia(65%) saturate(360%) hue-rotate(153deg) brightness(95%) contrast(94%);
      filter: invert(72%) sepia(51%) saturate(6847%) hue-rotate(321deg) brightness(100%) contrast(80%);
    }
  }
  /* .content{
    margin-top: 60px;
  } */

  /* Nav */
  .TitleBox{
    box-sizing: border-box;
    width: 17%;
    max-width: 250px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    display: flex;
    border-radius: 16px;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 5px 8px;
    padding: 0px 3px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px;
    border: 1px solid green;
  }
  .TitleBox h3{
    /* border: 1px solid red; */
    margin: 0px;
    /* color: #fff !important; */
  }
  .title-logo {
    height: 8vmin;
    max-height: 60px;
  }
  header{
    display: flex;
    margin: auto;
    background: rgba(255, 255, 255, 0.2);
    background: #002140;
    height: 80px; 
    background: #1b1a21;
    /* border-bottom: 10px solid red; */
    /* color: #111; */
    /* color: #fff !important; */
  }
  .header-container{
    display: flex;
    width: 97%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }
  div[role='menu']{
    display: flex;
    flex-direction: column;
    background: #f4f4f4;
  }
  div[role='menu'] {
    visibility: hidden;
  }
  div[role='menu'].visible {
    visibility: visible;
    width: 98%;
    border-radius: 8px;
    z-index: 9000;
    position: relative;
}
  .drop-down{
    box-sizing: border-box;
    /* margin-top: 20px;
    margin-bottom: 20px; */
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    /* background: rgba(255, 255, 255, 0.2);
    background: #f4f4f4; */
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 6px 12px 0px; */
    /* border: 1px solid red; */
    color: #111;
  }
  .inner-nav{
      color: #111;
  }
 
  .drop-down a{
      color: #111;
      /* color: #fff !important; */
  }
  .drop-down {
    margin-right: 0px;
  }
  .drop-down .inner-nav{
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    color: #111;
    border: 1px solid #111;
  }
  .nav-itema:hover{
    background-color:rgba(0, 0, 0, .3);
    color: #111;
    /* color: #fff !important; */
  }
  nav{
    display: flex;
    font-size: 16px;
    /* color: #fff !important; */
  }
  nav .nav-auth{
    padding-left: 30px;
    padding-right: 15px;
  }

/* .BreadCrumb .BreadCrumb-wave .rainbow-wrap{
  height: 8%;
  position: fixed;
  z-index: 10;
} */
.BreadCrumb .BreadCrumb-wave{
  height: 23px;
}
.BreadCrumb .BreadCrumb-wave .wave.-two{
  position: fixed;
  top: -680px;
  z-index: 1;
}

/* Auth form */
.auth-container .banner{
  position: absolute;
  top: 0px;
  height: 230px;
  width: 100%;
  background: #1b1a21;
}
.form-wrapper{
    /* border: 1px solid red; */
    height: 92vh;
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.form-wrapper form {
    width: 90%;
    margin: auto;
    border: 1px solid red;
}
.form-container{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.form-container form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding-top: 30px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 40px;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: -2px 6px 10px 0 rgb(0 0 0 / 8%);
  background-color: #f8f9fa !important;
  color: #111;
}
.form-container .submitBtn{
  background: transparent;
  color: #fff;
  border: none;
}


/* Landing page */
.landing-background{
  background-image: url("/src/landing-background.svg"),url("/src/wave2.svg");
  background-position: bottom 10% right,top 25% left;
}
.hero .bg-wave {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  left: 50%;
  transform: translateX(-50%);
}
.hero {
  align-items: center;
  background: #1b1a21;
  color: #fff;
  display: flex;
  font-family: Lato,sans-serif;
  justify-content: center;
  margin-top: -80px;
  overflow: hidden;
  padding: 0 40px;
  position: relative;
  text-align: center;
  width: 100%;
  height: 95vh;
  max-height: 700px;
  /* margin-bottom:100px;
  border:1px solid red; */
}

.hero .content{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  /* height: 90%; */
  margin-top: 80px;
  /* border:5px solid red; */
  z-index: 2;
  max-width: 1250px;
}
.left h1, .right h1{
  color: #fff;
}
.left h1{
  font-weight: bolder;
  font-size: 50px;
  /* text-transform: uppercase; */
  text-align: left;
  margin: 0px;
}
.hero .left{
  width: 50%;
}
.left .content-inner{
  /* border:1px solid green; */
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left .content-inner .text{
  /* font-weight: bold;
  font-size: 16px; */
  text-align: left;
  width: 65%;
  margin-top: 20px;
}

/* Main workspace */
.workspace-textfield{
  border: none;
  resize: none;
  color: #111;
  font-size: 20px;
  font-weight: bolder;
  /* border: 1px solid red; */
  /* display: flex;
  align-items: center;
  justify-content: flex-start; */
  /* width: 100%; */
  /* position: relative; */
  /* flex-direction: row;
  width: 50%; */
  /* margin: auto; */
  /* margin-top: 50px; */
  padding-top: 15px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  text-transform: uppercase;
  margin-left: 20.83333333%;
  width: 68%;
}
.menu-banner{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  /* border: 1px solid red; */
}
.add-task-btn-main.js{
  margin-right: 50px !important;
}
.workspace-textfield h3{
  text-align: left;
  margin-bottom: 0px;
}
.right .content-inner{
  /* background-image: url("/src/landingSmall.png"); */
  background-image: url("/src/workspace.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 250px;
  width: 450px;
  z-index: 5;
  z-index: 9000;
  border: 1px solid #fff;
  border-radius: 20px;
  
}
.bannerLogo{
  width: 50px;
  
  /* transform: rotate(40deg); */
}
.logo-container{
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin: auto;
}
.showHide{
  display: none;
}
.show{
  position: absolute;
  top: 0px;
}
/* .hideForm{
  display: none;
} */
.bannerCta{
  text-align: center;
}
/* .loading{
  background-color: #fff !important;
}
.loading .App-header{
  background-color: #fff !important;
} */

[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  margin-bottom: 24px;
  overflow: hidden;
  background: #f0f2f5;
  border: 0px;
  border-radius: 2px;
}

#projects .ant-col.ant-col-14.ant-col-offset-5, #projects .ant-col-offset-5 {
  margin-left: -0% !important;
  margin-top: 0% !important;
} 

#projects .ant-layout-content{
  padding: 0px !important;
  background-color: #fff !important;
}
#projects .tasklist{
  margin-left: 10px;
}
#projects{
  position: relative;
  cursor: pointer;
}
#projects:hover, #calender:hover, #announcements:hover{
  background-color: lightgrey;
  background-blend-mode: darken;
  z-index: 9000;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  transform: scale(1.02);
}
#projects h3 {
  position: absolute;
  top: 0px;
  left: 15px;
}
#projects .inner{
  z-index: 0;
}
#calender .site-calendar-demo-card {
  width: 100%;
  height: 150px;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
}
#calender{
  flex: 0.8;
}
#announcements{
  flex: 0.6;
}